[submodule "models/itz_cad"]
	url = https://github.com/UTAH-VEXU-Robotics/itz_cad
[submodule "models/change_up_cad"]
	path = models/change_up_cad
	url = https://github.com/UTAH-VEXU-Robotics/change_up_cad
