<?xml version="1.0"?>
<robot name="roscontrol" xmlns:xacro="http://ros.org/wiki/xacro">

    <link name="base_link"></link>

    <xacro:include filename="FlyWheel.urdf.xacro"/>
  
    <joint name="chassis_joint" type="fixed">
        <parent link="base_link"/>
        <child link="chassis_link"/>
    </joint>

    <xacro:include filename="depth_camera.urdf.xacro"/>

    <xacro:kinect prefix="front" origin_link="base_link" xyz="0.15 0 0.25" rpy="0 0 0"/>
    <xacro:kinect prefix="back" origin_link="base_link" xyz="-0.15 0 0.25" rpy="0 0 3.14"/>

    <xacro:include filename="wide_camera.urdf.xacro"/>
    
    <xacro:wide prefix="left" origin_link="base_link" xyz="0 -0.15 0.1" rpy="0 0 -1.57"/>
    <xacro:wide prefix="right" origin_link="base_link" xyz="0 0.15 0.1" rpy="0 0 1.57"/>

</robot>
