<launch>
    <arg name="rvizconfig" default="$(find gazeboSimulation)/rviz/chassis.rviz" />
    <arg name="model" default="$(find gazeboSimulation)/urdf/robot.urdf.xacro"/>

    <include file="$(find gazeboSimulation)/launch/changeup.launch"></include>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

    <node pkg="joy" type="joy_node" name="joy_node">
        <param name="deadzone" value="0.1" />
    </node>

    <include file="$(find utah_navigation)/launch/nav.launch"></include>

</launch>
