<launch>
    <arg name="rvizconfig" default="$(find gazeboSimulation)/rviz/chassis.rviz" />
    <arg name="model" default="$(find gazeboSimulation)/urdf/robot.urdf.xacro"/>

    <include file="$(find gazeboSimulation)/launch/changeup.launch"></include>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

    <include file="$(find utah_navigation)/launch/nav.launch"></include>
<!--    -->

</launch>
