<launch>
  <arg name="model" default="$(find gazeboSimulation)/urdf/robot.urdf.xacro"/>

  <include file="$(find gazeboSimulation)/launch/gazebo.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="world_name" default="worlds/emptyField/change_up_field.world"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
  </include>
</launch>
