<launch>
    <arg name="world_name" default="$(find simulation)/worlds/games/change_up.world"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
        <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find simulation)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)" />
<!--        <arg name="physics" value="dart" />-->
    </include>
</launch>
