<?xml version="1.0"?>

<model>
    <name>OmniRobot</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>

    <author>
        <name>Michael Jones</name>
        <email>acetousk@gmail.com</email>
    </author>

    <description>
        An omni wheel robot
    </description>
</model>
